$color-blue:#1768ac;
$color-blue-dark :#2541b2;

$color-dark:#212b36;

$color-red:#ed3647;
$color-red-dark:#bf0711;

$color-brand:$color-blue-dark;
$color-primary:$color-blue;
$color-content:$color-dark;

$color-white:#f7f7f7;
$color-grey:#637381;
$color-background:#e0e3ee;
$color-link:#007ace;

$color-text-subdued:#919eab;
$color-title-subdued:#637381;
